{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "localVnetName": {
            "value": "{{ localVnetName }}"
        },
        "remoteVnetName": {
            "value": "{{ remoteVnetName }}"
        },
        "remoteVnetPrefix": {
            "value": "{{ remoteVnetPrefix }}"
        },
        "remoteVnetSubscriptionId": {
            "value": "{{ remoteVnetSubscription }}"
        },
        "remoteVnetResourceGroup": {
            "value": "{{ remoteVnetResourceGroup }}"
        },
        "orgName": {
            "value": "{{ orgName }}"
        }
    }
}