{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "value": "{{ location }}"
        },
        "networkInterfaceName": {
            "value": "{{ networkInterfaceName }}"
        },
        "subnetName": {
            "value": "{{ subnetName }}"
        },
        "subscriptionId": {
            "value": "{{ subscriptionId }}"
        },
        "virtualMachineName": {
            "value": "{{ VMName }}"
        },
        "virtualMachineRG": {
            "value": "{{ resourceGroup }}"
        },
         "vnetName": {
            "value": "{{ vnetName }}"
        },
        "osDiskType": {
            "value": "Premium_LRS"
        },
        "virtualMachineSize": {
            "value": "Standard_D2s_v3"
        },
        "adminUsername": {
            "value": "greenpages"
        },
        "adminPassword": {
            "value": "Test!12345!"
        }
    }
}