{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "friendlyAccountName": {
            "value": "{{ orgName }}"
        },
        "friendlyVnetName": {
            "value": "{{ vnetName }}"
        },
        "vnetPrefix": {
            "value": "{{ vnetPrefix }}"
        },
        "subnetOnePrefix": {
            "value": "{{ subnetOnePrefix }}"
        },
        "subnetTwoPrefix": {
            "value": "{{ subnetTwoPrefix }}"
        },
        "subnetThreePrefix": {
            "value": "{{ subnetThreePrefix }}"
        },
        "subnetOneFriendlyName": {
            "value": "{{ subnetOneName }}"
        },
        "subnetTwoFriendlyName": {
            "value": "{{ subnetTwoName }}"
        },
        "subnetThreeFriendlyName": {
            "value": "{{ subnetThreeName }}"
        }
    }
}
